<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- confirm_account.html -->
<p>Уважаемый(я) {{ user_email }},</p>

<p>Вы запросили сброс пароля.</p>

<p>Чтобы ввести новый пароль, перейдите по ссылке ниже:</p>

<p>
    <a href="https://{{ domain }}/?token={{ token }}&email={{ email }}#password-reset">https://{{ domain }}/activate/{{ email }}/{{ reset_code }}/</a>
</p>

<p>Ваш код для подтверждения:</p>
<p class="code">{{reset_code}}</p>

<p>PyAcademy</p>

</body>
</html>